body {
    margin:0;
    min-width: 300px;
}

* {
    box-sizing: border-box;
}
.the-header {
    background-color: #f43c2f;
    padding: 30px 42px;
    color: white;
    text-align: center;

}
.the-header:after {
    content: "";
    display: table;
    clear: both;
}

#the-input {
    width: 70% ;
    padding: 15px;
    float: left;
    font-size: 15px;
    margin: 0;
    border: none;
    border-radius: 0;
}

.create-button {
    padding: 15px;
    background-color: aqua;
    font-size: 15px;
    width: 30%;
    color: #283328;
    float:left;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    color: white;
}
.create-button:hover {
    background-color: #cccc;
    color: teal;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    position: relative;
    
    background-color: grey;
    list-style-type: none;
    cursor: pointer; padding: 10px 6px 10px 30px;
    transition: 0.3s;

    /* making list unselectable*/

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

ul li:nth-child(odd) {
    background-color: #f9f9f9;
}
ul li:hover{
    background-color: #ddd;
}

ul li.checked {
    background: #256895;
    color: white;
    text-decoration: line-through; 
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: white;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 15px;
    transform: rotate(45deg);
    height: 15px;
    width: 10px;
}
 
.close {
    position: absolute;
    right:0;
    top: 0;
    padding: 10px 15px 10px 10px;
}

.close:hover {
    background: #f43c2f;
}

